* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  box-sizing: border-box;
}

body {
  background-color: lightgoldenrodyellow;
}

/* HEADER  */
header {
  display: flex;
  background-image: linear-gradient(45deg, gray, orange);
  justify-content: space-between;
  align-items: center;
  padding: 30px 20px;
}

.content__title {
  color: #ffaa66;
}

h1 {
  font-family: 'Playfair Display', serif;
}

.contenedorNavBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

ul li a {
  display: flex;
  margin: 0 15px;
  font-weight: bold;
  color: lightgoldenrodyellow;
  font-family: 'Playfair Display', serif;
}

.spanLogo {
  display: none;
}

/*  Hamburguesa
.spanMenu {
  display: none;
} */


/* CONTENIDO DEL SITIO */
.contenedorMain {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
  margin-bottom: 2em;
}

h2 {
  margin-bottom: 1.5em;
}

/* TARJETA de PRODUCTOS*/
.card {
  background-color: #ffaa66;
  padding: 1em;
  border-radius: 10px;
  justify-items: center;
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.5);
height: 470px;
}

.card__header {
  position: relative;
}

.card__header img {
  width: 100%;
  height: 250px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.card__header small {
  background-color: rgba(255, 255, 255, 0.5);
  color: #fff;
  padding: 8px;
  position: absolute;
  right: 0;
  border-radius: 10px;
}

.card__header--strong {
  text-transform: uppercase;
  font-weight: bold;
}

.card__title {
  margin-bottom: 1em;
}

.card__description {
  margin-bottom: 1em;
}

.card__link {
  background-color: gray;
  color: #fff;
  width: 100%;
  display: inline-block;
  border-radius: 10px;
  padding: 15px;
  text-align: center;
}

/* ASIDE Instagram */
.card__aside {
  background-color: lightgoldenrodyellow;
  padding: 10px;
  border-radius: 10px;
  justify-self: center;
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.5);
}

/* TARJETA de FORM CONTACTOS */
.contact__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat (6, 90px);
  padding: 0.5em;
  align-self: center;
}

.sectionIndex {
  background-image: url('../assets/img/presentacion02.png');
  margin: 0;
  width: 100%;
  height: 500px;
  padding: 2em 4em 2em 4em;
  background-size: cover;
  background-attachment: fixed;
}

.parrafoIndex {
  font-family: 'Playfair Display', serif;
  font-size: x-large;
  line-height: 1.5;
  text-align: center;
  color: #822;
}

/* PIE DE PAGINA */
footer {
  display: flex;
  background-image: linear-gradient(45deg, orange, gray);
  justify-content: space-between;
  padding: 25px 15px;
}

h2 {
  color: #555;
}

.ul__li--footer {
  display: flex;
  list-style-type: none;
}


/*MEDIA QUERIES  (mediano) */
@media screen and (max-width:820px) {
  .contenedorMain {
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-evenly;
  }

  .spanLogo {
    display: inline-block;
    font-size: 20px;
  }

  /* 
  .contenedorNavBar {
    display: none;
    flex-direction: column;
  } 
  .spanMenu {
    display: inline-block;
    font-size: 20px;
  }*/

  header {
    flex-direction: row;
    padding: 22px 10px;
  }

  h1 {
    display: none;
  }

  .ul__li--footer {
    display: flex;
    list-style-type: none;
    margin: 0 5px;
  }

  h2 {
    font-size: large;
  }

  .parrafoIndex {
    font-family: 'Playfair Display', serif;
    font-size: larger;
    line-height: 1.5;
    text-align: center;
    color: #822;
  }
}

/*MEDIA QUERIES  (mas chico) */
@media screen and (max-width:480px) {
  .contenedorMain {
    grid-template-columns: 1fr;
  }

  .spanLogo {
    display: inline-block;
    font-size: 20px;
  }

  /* .contenedorNavBar {
    display: none;
    flex-direction: column;
  }
  .spanMenu {
    display: inline-block;
    font-size: 20px;
  } */

  header {
    flex-direction: row;
    align-content: space-around;
    padding: 11px 0px;
  }

  h1 {
    display: none;
  }

  ul li a {
    margin: 0 4px;
    font-size: 14px;
  }

  .ul__li--footer {
    display: flex;
    list-style-type: none;
    margin: 0 5px;
  }

  h2 {
    font-size: medium;
  }

  .parrafoIndex {
    font-family: 'Playfair Display', serif;
    font-size: medium;
    line-height: 1.5;
    text-align: center;
    color: #822;
  }
}